body{
    background-image: url("forras/ash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    width: 40%;
    margin: auto;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  th{
    background-color: white; 
  }
  td:nth-child(odd){
    background-color: white;
  }
  tr{
   background-color: #f5f5f5b3; 
  }
  .keret{
    background-color: #f5f5f5b3; 
    width: 70%;
    margin: auto;
  }
